{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/slide_bar.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap-5.3.6/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap-5.3.6/css/bootstrap.min.css' %}" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{% static 'assets/datatables/css/jquery.dataTables.min.css' %}" />
    <!-- Select2 CSS -->
    <link href="{% static 'assets/select2/css/select2.min.css' %}" rel="stylesheet" />
    <!-- Íconos - Feather Icons CSS -->
    <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" id="main-style-link">
</head>

<body{% if show_header_search %} class="dashboard-page" {% endif %}>
    <!-- Navegation-Bar -->
    <header class="pc-header">
        <div class="header-wrapper">
            <!-- Ocultar/Mostrar Menú y Buscador -->
            <div class="me-auto pc-mob-drp">
                <ul class="list-unstyled">
                    <li class="pc-h-item pc-sidebar-collapse">
                        <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
                            <i data-feather="menu"></i>
                        </a>
                    </li>
                    <li class="pc-h-item pc-sidebar-popup">
                        <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
                            <i data-feather="menu"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Perfil -->
            <div class="ms-auto">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item header-user-profile">
                        <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" data-bs-auto-close="outside" aria-expanded="false">
                            <i data-feather="user"></i>
                        </a>
                        <div
                            class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown p-0 overflow-hidden">
                            <div class="dropdown-header d-flex align-items-center justify-content-between bg-primary">
                                <div class="d-flex my-2">
                                    <div class="flex-shrink-0">
                                        <img src="{% static 'assets/images/user/avatar-2.jpg' %}" alt="user-image"
                                            class="user-avtar wid-35" />
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-body">
                                <div class="profile-notification-scroll position-relative"
                                    style="max-height: calc(100vh - 225px)">
                                    <a href="#" class="dropdown-item">
                                        <span>
                                            <svg class="pc-icon text-muted me-2">
                                                <use xlink:href="#custom-setting-outline"></use>
                                            </svg>
                                            <span>Settings</span>
                                        </span>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <span>
                                            <svg class="pc-icon text-muted me-2">
                                                <use xlink:href="#custom-lock-outline"></use>
                                            </svg>
                                            <span>Change Password</span>
                                        </span>
                                    </a>
                                    <div class="d-grid my-2">
                                        <a href="" class="btn btn-primary">
                                            <svg class="pc-icon me-2">
                                                <use xlink:href="#custom-logout-1-outline"></use>
                                            </svg>Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Sidebar -->

    <nav class="pc-sidebar">
        <div class="navbar-wrapper">
            <div class="m-header">
                <a href="" class="b-brand text-primary">
                    <img src="{% static 'assets/images/logo-white.svg' %}" class="img-fluid" alt="logo">
                </a>
            </div>
            <div class="navbar-content">
                <ul class="pc-navbar">
                    <li class="pc-item pc-hasmenu">
                        <a href="{% url 'home:dashboard' %}" class="pc-link">
                            <span class="pc-micon">
                                <i data-feather="grid"></i>
                            </span>
                            <span class="pc-mtext">Inicio</span>
                        </a>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="{% url 'home:company' %}" class="pc-link">
                            <span class="pc-micon">
                                <i data-feather="briefcase"></i>
                            </span>
                            <span class="pc-mtext">Empresas</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="{% url 'home:work_type' %}" class="pc-link">
                            <span class="pc-micon">
                                <i data-feather="clipboard"></i>
                            </span>
                            <span class="pc-mtext">Servicios</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="{% url 'home:works_to_do' %}" class="pc-link">
                            <span class="pc-micon">
                                <i data-feather="file-text"></i>
                            </span>
                            <span class="pc-mtext">Trabajos</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="{% url 'home:log_history' %}" class="pc-link">
                            <span class="pc-micon">
                                <i data-feather="list"></i>
                            </span>
                            <span class="pc-mtext">Historial</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="{% url 'home:client' %}" class="pc-link">
                            <span class="pc-micon">
                                <i data-feather="user"></i>
                            </span>
                            <span class="pc-mtext">Clientes</span>
                        </a>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="{% url 'home:user' %}" class="pc-link">
                            <span class="pc-micon">
                                <i data-feather="users"></i>
                            </span>
                            <span class="pc-mtext">Usuarios</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main id="main-content">
        {% block content %}

        {% endblock %}
    </main>
    <!-- Footer -->
    <footer class="pc-footer">
        <div class="footer-wrapper container-fluid">
            <div class="row">
                <div class="col my-1">
                    <p class="m-0">
                        &copy; OLTEC. Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/bootstrap-5.3.6/js/bootstrap.bundle.min.js' %}"></script>
    <!-- DataTables JS -->
    <script src="{% static 'assets/datatables/js/jquery.dataTables.min.js' %}"></script>
    <!-- SweetAlert -->
    <script src="{% static 'assets/js/sweetalert2@11.js' %}"></script>
    <!-- Select2 JS -->
    <script src="{% static 'assets/select2/js/select2.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <!-- Íconos - Feather Icons JS -->
    <script src="{% static 'assets/js/pcoded.js' %}"></script>
    <script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>
    <!-- Plugin para Customizar Scrollbars -->
    <script src="{% static 'assets/js/plugins/simplebar.min.js' %}"></script>
    <script>

    </script>


    {% block extra_css %}

    {% endblock %}

    {% block extra_js %}

    {% endblock %}
    </body>

</html>