#cards-empresas > div[class*="col-"] {
  transition: all 0.2s;
}
#cards-empresas > div[class*="col-"] {
  display: block !important;
}
#cards-empresas > div[class*="col-"].oculto {
  display: none !important;
}

.modal-backdrop {
  z-index: 2050 !important;
}
.modal {
  z-index: 2060 !important;
}
.modal-content {
  z-index: 2070 !important;
}