/* Barra de progreso personalizada */
.progress {
    height: 2rem;
    /* Más ancha */
    background-color: #e9ecef;
}

.progress-bar.custom-progress-bar {
    background-color: #003366 !important;
    /* Azul oscuro */
    font-weight: bold;
    font-size: 1.1rem;
}