<!-- Modal fuera de main-content -->
<div class="modal fade" id="modalServiciosEmpresa" tabindex="-1" aria-labelledby="modalServiciosEmpresaLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalServiciosEmpresaLabel">Servicios de <span
                        id="modalEmpresaNombre"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="modalEmpresaServicios"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>